/**
 * Homepage-specific rules.
 */

hr.section-divider {
	width: 8%;
	margin:20px 46%;
}

#bio-long-text {
	font-size: 16px;
}

#bio-one-line {
	font-size: 22px;
	margin: 30px 0px 20px;
}

#down-arrow {
	cursor: pointer;
	cursor: hand;
	max-width: 10vw;
}

#down-arrow-container {
	margin-bottom: 20px;
}

#homepage-name {
	margin-top: 50px;
	min-width: 250px;
	max-width: 30vw;
}

#names {
    margin: 80px 0px 0px;
}

#profile-picture-container {
	padding-top: 40px;
	padding-bottom: 16px;
}

#social-media-message-text {
	font-size: 22px;
}


/**
 * Formatting utilities.
 */

#choreo-top-row {
	padding-top: 16px;
}

.colored-link {
	color: #0d47a1!important;
	text-decoration: none; /* removes underlines */
}

.link-no-underline {
	text-decoration: none; /* removes underlines */
}

.more-info-button {
	margin-top: 24px;
}

.role-description {
	font-size: 24px;
}

.role-title {
	font-size: 7em;
}

@media screen and (max-width: 650px) {
  .role-title {
    font-size: calc(4vw + 4vh + 2vmin);
  }
}

.youtube-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
}

.youtube-container iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/**
 * Image utilities.
 */

img {
	max-width: 100%;
}

.image-outline {
	padding: 1px;
    border: 1px solid black;
}

.image-60, .image-50, .image-40, .image-35 {
	min-width: 295px;
}

.image-60 {
	width: 60vw;
}

.image-50 {
	width: 50vw;
}

.image-40 {
	width: 40vw;
}

.image-35 {
	width: 35vw;
}

.image-description {
	font-weight: 400;
}

.responsive-square {
	max-width: 260px;
	width: 70vw;
}

.responsive-rectangle {
	max-width: 375px;
	width: 70vw;
}

.responsive-skinny-rectangle {
	max-width: 450px;
	width: 70vw;
}

.responsive-vertical-rectangle {
	max-width: 275px;
	width: 50vw;
}


/**
 * Social icons and footer formatting.
 */

#social-icons a:hover {
	border-bottom:3px solid #0d47a1;
}

#logo {
	cursor: pointer;
	max-height: 42px;
}

.copyright-text {
	font-size: 1em;
	font-weight: 400;
}


/**
 * Experience-related rules.
 */

.experience-container {
	padding: 0px 32px;
}

.experience-title {
	font-size: 7em;
	text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .experience-title {
    font-size: calc(4vw + 4vh + 2vmin);
  }
}

.experience-location {
	font-size: 24px;
}


/**
 * Hacker rules.
 */

#transitcat-container {
	background-color: #7a9e82 !important;
	color: #fff !important;
}

#choreo-room-container {
	background-color: #313131 !important;
	color:#fff !important;
}

#google-slides-container {
	background-color: #ffe28d !important;
	color: #000 !important;
}

#google-maps-container {
	background-color: #da736f !important;
	color: #fff !important;
}

.transitcat-list {
	font-size:18px;
	font-weight:300;
}

#app-store-badge-container {
	margin-top: 32px;
}

#app-store-badge {
	cursor: pointer;
	cursor: hand;
}


/**
 * Connector rules.
 */

#bosp-container {
	background-color: #9ac8dc !important;
	color:#000 !important;
}

#pasu-container {
	background-color: #d7dae1 !important;
	color:#000 !important;
}

#spcsi-container {
	background-color: #ea5455cf !important;
	color:#000 !important;
}

#eagle-scout-container {
	background-color: #91ceff !important;
	color:#000 !important;
}


/**
 * Dancer rules.
 */

#legacy-container {
	background-color: #89beea !important;
	color:#000 !important;	
}

#choreography-container {
	background-color: #f1cfb1 !important;
	color:#000 !important;
}

#common-origins-container {
	background-color: #ffa96a !important;
	color:#000 !important;
}


/**
 * Creative rules.
 */

#one-second-container {
	background-color: #83b271 !important;
	color: #000 !important;
}

#digital-art-container {
	background-color: #6185a9 !important;
	color: #fff !important;
}

hr.artwork-separator {
	margin: 30px 40%;
}