/**
 * Homepage-specific rules.
 */

hr.section-divider {
	width: 8%;
	margin:20px 46%;
}

#bio-one-line {
	margin: 30px 0px 20px;
}

#down-arrow {
	cursor: pointer;
	cursor: hand;
}

#down-arrow-container {
	width: 52px;
	margin: 0px auto 20px auto;
}

#homepage-name {
	margin: 0px auto;
	width: 72vw;
}

@media only screen and (min-width: 500px) {
	#homepage-name {
		width: 60vw;
	}
}

@media only screen and (min-width: 650px) {
	#homepage-name {
		width: 50vw;
	}
}

@media only screen and (min-width: 850px) {
	#homepage-name {
		width: 40vw;
	}
}

@media only screen and (min-width: 1000px) {
	#homepage-name {
		width: 33vw;
	}
}

#homepage-splash {
	margin-top: 30px;
}

@media only screen and (min-width: 600px) {
	#homepage-splash {
		margin-top: 50px;
	}
}

#profile-picture-container {
	padding-top: 40px;
	padding-bottom: 16px;
}

#social-icons {
	padding-top: 10px;
}

#social-icons a:hover {
	border-bottom:3px solid #0d47a1;
}

#social-media-message {
	margin: 0px 10px;
}


/**
 * Formatting utilities.
 */

.colored-link {
	color: #0d47a1!important;
	text-decoration: none; /* Removes underlines. */
}

.link-no-underline {
	text-decoration: none; /* Removes underlines. */
}

.secondary-caption {
	font-size: 1.5em;
}


/**
 * Image utilities.
 */

img {
	max-width: 100%;
}

img[src$=".svg"] {
	width: 100%;
}


/**
 * Navigation bar and footer formatting.
 */

.copyright-text {
	font-size: 1em;
	font-weight: 400;
}

#logo {
	cursor: pointer;
	max-height: 40px;
}

.topnav {
	margin: 0px 8px;
}

.topnav a {
	padding: 8px 12px;
	text-decoration: none;
}

.topnav .hamburger-icon {
	display: none;
}

/* When the screen is less than 620 pixels wide, hide all links, except for those with the "mobile-nav" class.
Show the link that contains the hamburger icon. */
@media screen and (max-width: 620px) {
	.topnav a:not(.mobile-nav) {
		display: none;
	}
	.topnav .hamburger-icon {
		float: right;
		display: block;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. */
@media screen and (max-width: 620px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.hamburger-icon {
		position: absolute;
		right: 0;
		top: 8px;
	}
	.topnav.responsive a {
		float: none!important;
		display: block;
		text-align: center;
	}
}
