/**
 * Formatting utilities.
 */

.colored-link {
	color: #0d47a1!important;
	text-decoration: none; /* Removes underlines. */
}

.link-no-underline {
	text-decoration: none; /* Removes underlines. */
}

.more-info-button {
	margin-top: 24px;
}

.secondary-caption {
	font-size: 1.5em;
}

.youtube-container, .single-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 ratio. */
	height: 0;
	overflow: hidden;
}

.youtube-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 650px) {
	.single-youtube {
		left: 15%;
		width: 70%;
		padding-bottom: 39.375%; /* 16:9 ratio at 70% width. */
	}
}

@media screen and (min-width: 900px) {
	.single-youtube {
		left: 20%;
		width: 60%;
		padding-bottom: 33.75%; /* 16:9 ratio at 60% width. */
	}
}


/**
 * Image utilities.
 */

img {
	max-width: 100%;
}

img[src$=".svg"] { /* For IE compatibility. */
	width: 100%;
}

.image-outline {
	padding: 1px;
    border: 1px solid black;
}

.image-description {
	font-weight: 400;
}

.role-title-container {
	margin: 40px auto;
	width: 60vw;
}

.role-title-container#connector-title-container {
	width: 75vw;
}

@media screen and (min-width: 500px) {
	.role-title-container {
		width: 45vw;
	}

	.role-title-container#connector-title-container {
		width: 67vw;
	}
}

@media screen and (min-width: 650px) {
	.role-title-container {
		width: 40vw;
	}

	.role-title-container#connector-title-container {
		width: 60vw;
	}

	.role-title-container#creative-title-container {
		width: 45vw;
	}
}

@media screen and (min-width: 850px) {
	.role-title-container {
		width: 35vw;
	}

	.role-title-container#connector-title-container {
		width: 53vw;
	}

	.role-title-container#creative-title-container {
		width: 40vw;
	}
}

@media screen and (min-width: 1000px) {
	.role-title-container {
		width: 30vw;
	}

	.role-title-container#connector-title-container {
		width: 45vw;
	}

	.role-title-container#creative-title-container {
		width: 35vw;
	}
}


/**
 * Navigation bar and footer formatting.
 */

.copyright-text {
	font-size: 1em;
	font-weight: 400;
}

#logo {
	cursor: pointer;
	max-height: 40px;
}

.topnav {
	margin: 0px 8px;
}

.topnav a {
	padding: 8px 12px;
	text-decoration: none;
}

.topnav #hamburger-button {
	display: none;
}

/* When the screen is less than 620 pixels wide, hide all links, except for those with the "mobile-nav" class.
Show the link that contains the hamburger icon. */
@media screen and (max-width: 620px) {
	.topnav a:not(.mobile-nav) {
		display: none;
	}
	.topnav #hamburger-button {
		float: right;
		display: block;
	}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. */
@media screen and (max-width: 620px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a#hamburger-button {
		position: absolute;
		right: 0;
		top: 8px;
	}
	.topnav.responsive a:not(#logo-container) {
		float: none!important;
		display: block;
		text-align: center;
	}
}

/**
 * Experience-related rules.
 */

.experience-container {
	padding: 0px 32px;
}

.experience-title {
	font-size: 3.375em;
	text-transform: uppercase;
}

@media screen and (min-width: 700px) {
	.experience-title {
		font-size: 5.063em;
	}
}


/**
 * Hacker rules.
 */

#gmail-container {
	background-color: #ea4e469c !important;
	color:#000 !important;
}

#choreo-room-container {
	background-color: #313131 !important;
	color:#fff !important;
}

#transitcat-container {
	background-color: #7a9e82 !important;
	color: #fff !important;
}

#google-slides-container {
	background-color: #ffe28d !important;
	color: #000 !important;
}

#google-maps-container {
	background-color: #da736f !important;
	color: #000 !important;
}

.transitcat-list {
	font-size:18px;
	font-weight:300;
}

#app-store-badge-container {
	margin: 32px auto 0px auto;
	width: 130px;
}

#app-store-badge {
	cursor: pointer;
}


/**
 * Connector rules.
 */

#bosp-container {
	background-color: #9ac8dc !important;
	color:#000 !important;
}

#pasu-container {
	background-color: #d7dae1 !important;
	color:#000 !important;
}

#spcsi-container {
	background-color: #e9d7ac !important;
	color:#000 !important;
}

#eagle-scout-container {
	background-color: #91ceff !important;
	color:#000 !important;
}


/**
 * Dancer rules.
 */

#legacy-container {
	background-color: #89beea !important;
	color:#000 !important;	
}

#choreography-container {
	background-color: #f1cfb1 !important;
	color:#000 !important;
}

#common-origins-container {
	background-color: #ffa96a !important;
	color:#000 !important;
}

#choreo-top-row {
	padding: 16px 16px 0px 16px;
}


/**
 * Creative rules.
 */

#one-second-container {
	background-color: #83b271 !important;
	color: #000 !important;
}

#digital-art-container {
	background-color: #0da16aa6 !important;
	color: #000 !important;
}

hr.artwork-separator {
	margin: 30px 40%;
}