@use "./accessibility";

.hero-content-wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 720px;
	justify-content: center;
	padding: 0.01em 2.4rem;
}

.screenreader-only {
	@include accessibility.screenreader-only;
}

.hero-name-image {
	fill: var(--color-light);
	margin-top: -64px;
	max-width: 450px;
	width: 72vw;
}

.hero-divider {
	margin-top: 32px;
	width: 100px;
}

.hero-caption {
	font-size: 3rem;
	margin-top: 40px;
	text-align: center;
}

.bio-section {
	align-items: center;
	background-color: #3e3e3e;
	display: flex;
	flex-direction: column;
	padding: 60px 0;
}

.profile-picture {
	border-radius: 50%;
	max-width: 225px;
}

.greeting {
	font-size: 2rem;
	margin-top: 36px;
	max-width: 720px;
	text-align: center;
	width: 85vw;

	&>p {
		margin: 1rem 0;
	}
}

.social-section {
	padding: 48px 0;
	text-align: center;
}

.social-header {
	font-size: 3rem;
}

.social-icons {
	display: flex;
	justify-content: center;
	font-family: initial;
	font-size: 36px;
	gap: 12px;
	margin-top: 24px;

	a {
		color: inherit;
		text-decoration: initial;
	}

	i {
		animation-duration: 0.5s;
		animation-timing-function: cubic-bezier(0, 0, 0, 1);
		animation-fill-mode: forwards;
		transition: all 0.3s;
		padding: 0 12px;
	}

	i:hover {
		transform: translateY(-4px);
	}

	.linkedin-logo:hover {
		color: #0077b5;
	}

	.spotify-logo:hover {
		color: #1ed761;
	}

	.youtube-logo:hover {
		color: #ff0000;
	}
}

@media screen and (max-width: 540px) {
	.hero-content-wrapper {
		height: 500px;
	}
}